<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />
   <title>Customer Registration</title>

   <style>
      body {
         margin: 0;
         font-family: 'Inter', sans-serif;
      }

      .conatiner {
         max-width: 698px;
         margin: 0 auto;
         background-image: url("https://storage.googleapis.com/global-94e72.appspot.com/gallery/1703760871978.jpeg?GoogleAccessId=firebase-adminsdk-ka5x0%40global-94e72.iam.gserviceaccount.com&Expires=16446997800&Signature=YOy80bOcbuj%2Bv%2BV6spoJOjWZtMsBDptIgZYKgXEH%2FOHs1BU56CEqBdt38PvlE%2FwewtHb5Gw06Is3frkVbXqE%2FwLSUx%2BRMYLpt0Z0lK5KOoWKLb7wyG1PeILMIyEnRaZnPX8AcQd0vMMN%2B1YPTt%2FJ0%2B%2Fmugs0%2FB1ggIDJ5UCuMQ6%2FgYLFa5teCK%2BVfod00gmy17AJQSjgNqa2siqZ5gIZB0MVdfMPSvnJ6aYE7xkPXVmFj2M1qTkaNQ6FPWUuYQz22SV0Bu2GUYy90DwNf6hFtPT6QGMN8i%2BUR90wjdWqQQC9vAC8MV9K1twjbVN3KFc1qmOot%2BC44%2FZX6Who6jQycA%3D%3D");
         background-repeat: no-repeat;
         background-size: cover;
      }

      .bgImage {
         background-repeat: no-repeat;
         background-size: cover;
         height: 207px;
         text-align: center;
      }

      .bgFooter {
         background-color: #cdc6c6;
         color: #fff;
      }

      .px-30 {
         padding-left: 30px;
         padding-right: 30px;
      }

      .py-30 {
         padding-top: 30px;
         padding-bottom: 30px;
      }

      .heading {
         font-weight: 600;
         font-size: 30px;
      }

      .sub-heading {
         font-weight: 400;
         font-size: 12px;
      }

      .clr-0 {
         color: #d51d1c;
      }

      .clr-3 {
         color: #333;
      }

      .clr-f {
         color: #fff;
      }

      .phoneNone {
         display: block;
      }

      .desktopNone {
         display: none;
      }

      .img {
         border-radius: 10px;
         width: 150px;
         height: 150px;
      }

      /* Responsive columns */
      @media only screen and (max-width: 700px) {
         .phoneNone {
            display: none;
         }

         .desktopNone {
            display: block;
         }
      }
   </style>
</head>

<body>
   <div class="conatiner">
      <div class="bgImage">
         <div class="px-30" style="padding-top: 20px">
            <a href="#">
               <img class="img" style="object-fit: cover;"
                  src="https://storage.googleapis.com/global-94e72.appspot.com/gallery/1703761595997.jpeg?GoogleAccessId=firebase-adminsdk-ka5x0%40global-94e72.iam.gserviceaccount.com&Expires=16446997800&Signature=qRilmPfSKNeCUZn4oWfQ7KvDrUw3bdf4IfwnalYt9THuk0Wh5hN7rWzhGKuhu0sr2hWan1MrOgtPcflpIPmwOdy0oESmOdZI%2FsKe%2BQv0x1SBCzP5LlFHxIbnB6ic6fvJhVG5usC9R8mRoopkproIfUiAXPlJhV4yfLrDvWO%2Fjn%2F055bpHoxrZDMlixK76vvqgLEMThyTyL7HCXaeCfYy%2FadLH4SyxJlwlnfGmBgG9UHsupY2%2BFW1%2Fqe62HAvIjlwmWd6wtXkhsNXFP8d6ZysXHfO%2BGMug%2FB9q4q7W1CKOwbjhyHIdYKHrEDZoKGOkfgJejwmaKGpLyTYvd8fiMl85A%3D%3D" />
            </a>
         </div>
      </div>
      <div class="bgFooter" style="text-align: center; padding-top: 12px; padding-bottom: 12px">
         <p>use username <b>
               <%= userName %>
            </b></p>
         <h1>Your OTP is <%= otp %>
         </h1>
         <p class="sub-heading clr-f" style="margin-top: 0px; margin-bottom: 0px">
            Copyright © 2023.All Rigth Reserved
         </p>
      </div>
   </div>
</body>

</html>